.box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

.situation {
    padding: 20px 20px 10px;
}

#search {
    padding: 10px 20px 0px;
}

#example {
    padding: 0px 20px 0px;
}

#demo {
    padding: 10px 0px 0px 20px;
}

#author-institution-div {
    padding: 10px 0px 10px 20px;
}

#author-div {
    width: 60%;
    float: left;
}

#institution-div {
    float: left;
}

#content {
  margin: auto;
  width: 90%;
}

#headline {
    text-align: center;
}

#id-input{
    height: 30px;
}

#subheadline {
    text-align: center;
}

#buttons {
    width: 80%;
    margin: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.situation-0-part {
    float: left; 
    width: 50%;
}

#situation-0-displays {
    overflow-y: scroll; 
}

#author-div {
    clear: both;
}