.box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a{
    display: block;
    text-align: center;
    color: black;
    /* padding: 14px 16px; */
    text-decoration: none;
}

/* #table-div {
    overflow-y: scroll;
} */

.table-paragraph {
    line-height: 1
  }

.first-li {
    padding-left: 20px;
}

.situation {
    padding: 20px 20px 10px;
}

#search {
    padding: 10px 20px 0px;
}

#example, #abstract, #error-types, #demo, #author-institution-div {
    padding: 0px 20px 0px;
}

#author-div {
    width: 60%;
    float: left;
}

#institution-div {
    float: left;
}

#content {
  margin: auto;
  width: 90%;
}

#headline {
    text-align: center;
}

#id-input{
    height: 30px;
}

#subheadline {
    text-align: center;
}

#buttons {
    width: 80%;
    margin: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.situation-0-part {
    float: left; 
    width: 50%;
}

#situation-0-displays {
    overflow-y: scroll; 
}

#author-div {
    clear: both;
}